@(searchForm: Form[(String, String, String)], searchResults: List[Book])
@layout("Find") {
    <h1>Поиск книг</h1>
    <p class="lead">Поиск по id, названию и автору</p>
    @helper.form(action = routes.Books.postSearch()){
        @helper.inputText(searchForm("ID"), '_label -> "Id книги", 'name -> "id",
            'placeholder -> "ID Книги", 'class -> "form-control", '_showConstraints -> false)

        @helper.inputText(searchForm("Title"), '_label -> "Название", 'name -> "title",
            'placeholder -> "Название", 'class -> "form-control", '_showConstraints -> false)
        @helper.inputText(searchForm("Author"), '_label -> "Автор", 'name -> "author",
            'placeholder -> "Автор", 'class -> "form-control", '_showConstraints -> false)
        <input type="submit" value="Поиск" class="btn btn-primary">
    }


    @if(!searchResults.isEmpty) {
        <br>
        <br>
        <p>Результаты поиска</p>
        <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dataTables-example_info">
            <thead>
                <tr role="row">
                    <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width : 273 px ;" colspan="1" rowspan="1" aria-controls="dataTables-example" tabindex="0" class="sorting_asc">
                        ID</th>
                    <th aria-label="Browser: activate to sort column ascending" style="width : 327 px ;" colspan="1" rowspan="1" aria-controls="dataTables-example" tabindex="0" class="sorting">
                        Название</th>
                    <th aria-label="Platform(s): activate to sort column ascending" style="width : 299 px ;" colspan="1" rowspan="1" aria-controls="dataTables-example" tabindex="0" class="sorting">
                        Автор</th>
                    <th aria-label="Engine version: activate to sort column ascending" style="width : 238 px ;" colspan="1" rowspan="1" aria-controls="dataTables-example" tabindex="0" class="sorting">
                        Количество доступных</th>
                    <th aria-label="CSS grade: activate to sort column ascending" style="width : 323 px ; padding-right : 1 px" colspan="1" rowspan="1" aria-controls="dataTables-example" tabindex="0" class="sorting_asc">
                        Actions</th>
                </tr>
            </thead>
            <tbody>

            @searchResults.map { book =>
                <tr role="row" class="gradeA odd">
                    <td class="sorting_1">@book.id</td>
                    <td>@book.title</td>
                    <td class="center">@book.author</td>
                    <td>@book.quantity</td>
                    <td>
                        <span>
                            <a href="/subscribe/@book.id" class="btn btn-primary">Встать в очередь</a>
                            <a href="/subscriptions/@book.id" class="btn btn-primary">Смотреть очередь</a>
                        </span>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    }


}